.list {
    max-height: 30em;
    width: 32em;
    overflow: scroll;
    border: 6px solid rgb(255, 114, 137);
    border-radius: 1em;
    padding: 2em;

    article {
        background-color: rgba(255, 114, 137, 0.293);
        padding: 2em;
        width: 28em;
        &:hover {
            background-color: rgba(241, 159, 173, 0.293);
        }
    }

    a {
        color: rgb(255, 114, 137);
    }
}