nav {
    display: flex;
    justify-content: space-between;
    h2 {
        color: white;
        margin-right: 1em;
    }
}

section {
    display: center;
    text-align: left;
    color: rgb(34, 42, 98);

}

.user_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70em;
}

h4 {
    font-style: italic;
    color: #868486;
}