.register_form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  color: #454e8e;
  font-size: 1.15em;
  min-height: 24em;
  width: 22em;
  margin: auto;
  padding: 2em 4em;
  border: 0.75em solid #454e8e;
  border-radius: 10%;
  input {
    font-size: 1.15em;
    border-radius: 0.3em;
    margin-top: 0.5em;
    width: 100%;
    border-radius: 0.3em;
    border: 1px solid #454e8e;

  }
}

.register_header {
  text-align: left;
  border-bottom: 0.05em solid #454e8e;
  margin-bottom: 1em;
}

.field {
  margin: 0.5em 0;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  padding-top: 1em;
}
