.banner {
    padding: 4em;
}

.start_game {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
    button {
        background-color: rgb(255, 114, 137);
        color: white;
        margin: 1em;
        border: none;
        &:hover {
            transition: 0.3s;
            transform: scale(1.05);
            border: none
        }
    }
}

select {
    width: 40em;
    font-size: 1.4em;
    text-transform: capitalize;
    border-radius: 0.2em;
    padding: 0.1em
}

main {
    height: 70vh;
}