.login_form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  font-size: 1.15em;
  color: rgb(34, 42, 98);
  height: 18em;
  width: 20em;
  margin: auto;
  padding: 5em 4em;
  border: 1em solid rgb(34, 42, 98);
  border-radius: 10%;
  input {
    width: 100%;
    font-size: 1.15em;
    border-radius: 0.3em;
    margin-top: 0.5em;
  }
}

.login_header {
  text-align: left;
  border-bottom: 0.05em solid rgb(34, 42, 98);
  margin-bottom: 2em;
}

.field {
  margin: 0.5em 0;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10em;
  padding-top: 2em;
}
