nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 5.5em;
    width: 100%;
    background-color: rgb(34, 42, 98);

    button {
        margin-right: 1.5em;
    }

    h2 {
        color: white;
    }
}

.logo {
    height: 4.5em;
    margin-left: 2.5em;
}