.details {
  display: flex;
  flex-direction: column;
  min-height: 20em;
  width: 20em;
  border: 6px solid rgb(34, 42, 98);
  // border: 6px solid #e118f3;;
  border-radius: 1em;
  padding: 2em;
}

.details_img {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 1em;
    color: #1c8bf3;
}

.placeholder_img {
  align-self: center;
  padding: 1em;
  border-radius: 50%;
  height: 8em;
  width: 8em;
}

.details_userInfo {
  padding: 1em;
  color: #1c8bf3;
}