.question_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 33em;
  width: 33em;
  padding: 2.5em;
  border: 0.25em solid #454e8e;
  border-radius: 1em;;
  button {
    background-color: white;
    color: #454e8e;
    border: 2px solid #454e8e;
    &:hover {
      transition: 0.3s;
      opacity: 0.9;
      background-color: #e118f3bb;
      border: 2px solid #e118f3bb;
      color: white;
    }
  }
}

.question_header {
  text-align: left;
  border-bottom: 0.05em solid #454e8e;
}

.question_title {
  padding-top: 3em;
}

.question_answers {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 100%;
  padding: 3em;
  gap: 2em;
}

.play {
  margin: 1em;
  font-size: 1.25em;
  border: none;
  &:hover {
    transition: 0.3s;
    transform: scale(1.05);
    border: none;
  }
}