.question_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40em;
    width: 40em;
    margin: auto;
    padding: 2em;
    border: 1em solid black;
}

.question_answers {
 display: flex;
 align-self: center;
 flex-direction: column;
 padding: 4em;
 gap: 2em;
}