.question_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 35em;
  width: 35em;
  margin: auto;
  padding: 2em;
  border: 0.25em solid black;
}

.question_header {
  text-align: left;
  border-bottom: 0.05em black solid;
}

.question_title {
  padding-top: 3em;
}

.question_answers {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 100%;
  padding: 3em;
  gap: 2em;
}

.play {
  background-color: rgb(255, 114, 137);
  color: white;
  margin: 1em;
  border: none;
  &:hover {
    transition: 0.3s;
    transform: scale(1.05);
    border: none;
  }
}